.bar {
  fill: steelblue;
}

.chart__axis path {
  display: none;
}

.x.chart__axis line {
  stroke: #000;
}

.chart__tooltip {
  position: absolute;
  color: white;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 6px;
}

